"""Task Configuration

백그라운드 태스크 설정입니다.
"""

from bloom import Component, Lazy, PostConstruct, PreDestroy
from bloom.core.decorators import Factory
from bloom.task import TaskBackend, DistributedTaskBackend, InMemoryBroker


# =============================================================================
# TaskRegistry & TaskBackend
# =============================================================================


@Component
class TaskConfig:
    """태스크 설정 컴포넌트"""

    backend: Lazy[TaskBackend]

    @Factory
    def task_backend(self) -> DistributedTaskBackend:
        """TaskBackend를 생성합니다.

        Returns:
            TaskBackend: 태스크 백엔드
        """
        return DistributedTaskBackend(InMemoryBroker())

    @PostConstruct
    async def post_construct(self):
        await self.backend.start()

    @PreDestroy
    async def pre_destroy(self):
        await self.backend.shutdown()

