"""{{app_name}} Controllers

HTTP 엔드포인트를 정의합니다.
"""

from bloom import Controller, Get, Post, Put, Delete, RequestMapping
from bloom.core.exceptions import NotFoundError

from .services import {{entity_name}}Service


@Controller
@RequestMapping("/{{app_name}}")
class {{entity_name}}Controller:
    """{{entity_name}} API 컨트롤러"""

    service: {{entity_name}}Service

    @Get("/")
    async def list(self) -> list[dict]:
        """목록 조회"""
        items = self.service.get_all()
        # TODO: Entity를 Response 형태로 변환
        return [{"id": item.id} for item in items]

    @Get("/{id}")
    async def get(self, id: int) -> dict:
        """단일 조회"""
        item = self.service.get_by_id(id)
        if item is None:
            raise NotFoundError()
        return {"id": item.id}

    @Delete("/{id}")
    async def delete(self, id: int) -> dict:
        """삭제"""
        success = self.service.delete(id)
        if not success:
            raise NotFoundError()
        return {"message": "Deleted"}
