"""{{app_name}} Controllers

HTTP 엔드포인트를 정의합니다.
"""

from bloom import Controller, Get, Post, Put, Delete, RequestMapping
from bloom.web import HttpResponse

from .services import {{app_name_pascal}}Service


@Controller
@RequestMapping("/{{app_name}}")
class {{app_name_pascal}}Controller:
    """{{app_name_pascal}} API 컨트롤러"""

    service: {{app_name_pascal}}Service

    @Get("/")
    async def list(self) -> list[dict]:
        """목록 조회"""
        items = self.service.get_all()
        # TODO: Entity를 Response 형태로 변환
        return [{"id": item.id} for item in items]

    @Get("/{id}")
    async def get(self, id: int) -> dict | HttpResponse:
        """단일 조회"""
        item = self.service.get_by_id(id)
        if item is None:
            return HttpResponse.not_found()
        return {"id": item.id}

    @Delete("/{id}")
    async def delete(self, id: int) -> dict | HttpResponse:
        """삭제"""
        success = self.service.delete(id)
        if not success:
            return HttpResponse.not_found()
        return {"message": "Deleted"}
