"""{{app_name}} Repositories

데이터 접근 레이어를 정의합니다.
CrudRepository를 상속하면 자동으로 @Component로 등록됩니다.
"""

from bloom.db import CrudRepository

from .entities import {{app_name_pascal}}


class {{app_name_pascal}}Repository(CrudRepository[{{app_name_pascal}}, int]):
    """{{app_name_pascal}} 레포지토리

    CrudRepository 기본 메서드:
      - find_by_id(id) -> Entity | None
      - find_all() -> list[Entity]
      - find_one_by(**kwargs) -> Entity | None
      - save(entity) -> Entity
      - delete(entity) -> None
      - delete_by_id(id) -> bool
      - count() -> int
    """
    pass
