"""{{app_name}} Tests

{{app_name}} 앱 테스트입니다.
"""

from bloom.tests import TestCase

from . import {{app_name_pascal}}Controller, {{app_name_pascal}}Service


class Test{{app_name_pascal}}Controller(TestCase):
    """{{app_name_pascal}} 컨트롤러 테스트"""

    components = [{{app_name_pascal}}Controller, {{app_name_pascal}}Service]

    def test_list(self):
        """GET /{{app_name}}/ 테스트"""
        response = self.get("/{{app_name}}/")
        self.assert_status(response, 200)

    def test_get_not_found(self):
        """GET /{{app_name}}/{id} - 존재하지 않는 ID"""
        response = self.get("/{{app_name}}/999")
        self.assert_status(response, 404)

    def test_delete_not_found(self):
        """DELETE /{{app_name}}/{id} - 존재하지 않는 ID"""
        response = self.delete("/{{app_name}}/999")
        self.assert_status(response, 404)
